<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contenant">
      <h2 data-cy="contenantDetailsHeading"><span jhiTranslate="cipangoApp.contenant.detail.title">Contenant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contenant.id }}</span>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.nom">Nom</span></dt>
        <dd>
          <span>{{ contenant.nom }}</span>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.isCapital">Is Capital</span></dt>
        <dd>
          <span>{{ contenant.isCapital }}</span>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.icone">Icone</span></dt>
        <dd>
          <div *ngIf="contenant.icone">
            <a (click)="openFile(contenant.icone, contenant.iconeContentType)">
              <img
                [src]="'data:' + contenant.iconeContentType + ';base64,' + contenant.icone"
                style="max-width: 100%"
                alt="contenant image"
              />
            </a>
            {{ contenant.iconeContentType }}, {{ byteSize(contenant.icone) }}
          </div>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.absisce">Absisce</span></dt>
        <dd>
          <span>{{ contenant.absisce }}</span>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.ordonnee">Ordonnee</span></dt>
        <dd>
          <span>{{ contenant.ordonnee }}</span>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.arriereplan">Arriereplan</span></dt>
        <dd>
          <div *ngIf="contenant.arriereplan">
            <a (click)="openFile(contenant.arriereplan, contenant.arriereplanContentType)">
              <img
                [src]="'data:' + contenant.arriereplanContentType + ';base64,' + contenant.arriereplan"
                style="max-width: 100%"
                alt="contenant image"
              />
            </a>
            {{ contenant.arriereplanContentType }}, {{ byteSize(contenant.arriereplan) }}
          </div>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.lien">Lien</span></dt>
        <dd>
          <div *ngIf="contenant.lien">
            <a [routerLink]="['/lien', contenant.lien?.id, 'view']">{{ contenant.lien?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cipangoApp.contenant.maison">Maison</span></dt>
        <dd>
          <div *ngIf="contenant.maison">
            <a [routerLink]="['/contenu', contenant.maison?.id, 'view']">{{ contenant.maison?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contenant', contenant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
